# Indexing

Access individual element of a tuple using square brackets

In [4]:
my_tuple = (12, 23, 34, 45, 56)
my_tuple

(12, 23, 34, 45, 56)

In [5]:
print(my_tuple[0])

12

# slicing

In [6]:
#extract a subest of elements from a tuple

In [7]:
my_tuple = (10, 30, 40, 5, 10)
my_tuple

(10, 30, 40, 5, 10)

In [8]:
print(my_tuple[1:3])

(30, 40)

# length

In [10]:
#Get the number of elements in a tuple using the len()function

In [13]:
my_tuple = (23, 45, 56, 87, 98, 90, 70, 50,58)
my_tuple

(23, 45, 56, 87, 98, 90, 70, 50, 58)

In [14]:
print(len(my_tuple))

9

# Concatenation

In [15]:
#Concatenation two tuples using the +operater

In [17]:
tuple1 = (9,8,7,6,5,4,3,2,1)
tuple2 = (90,80,78,67,56,45,34,23,12,34,45)
concatenation_tuple = tuple1 + tuple2

In [18]:
print(concatenation_tuple)

(9, 8, 7, 6, 5, 4, 3, 2, 1, 90, 80, 78, 67, 56, 45, 34, 23, 12, 34, 45)

# Repetition

In [19]:
#Repeat a tuple for a given number of times using the * operater

In [20]:
my_tuple = (9,8,7,6,5,4,)
my_tuple

(9, 8, 7, 6, 5, 4)

In [21]:
 repeated_tuple = my_tuple *3

In [22]:
print(repeated_tuple)

(9, 8, 7, 6, 5, 4, 9, 8, 7, 6, 5, 4, 9, 8, 7, 6, 5, 4)

# Count

In [23]:
#Count the occurrences of specific element in a tuple using the count() method

In [24]:
my_tuple = (8,7,6,5,4,3,2)
my_tuple

(8, 7, 6, 5, 4, 3, 2)

In [25]:
print(my_tuple.count(4))

1

# Sorted

In [26]:
# this method takes a tuple as an input and returns a sorted list as an output

In [27]:
my_tuple = (65,86,7.8,90,5.8,34,26,45)
my_tuple

(65, 86, 7.8, 90, 5.8, 34, 26, 45)

In [29]:
my_tuple1 = sorted(my_tuple)

In [30]:
my_tuple1

[5.8, 7.8, 26, 34, 45, 65, 86, 90]

In [31]:
my_tuple2 = sorted(my_tuple)

In [32]:
my_tuple2

[5.8, 7.8, 26, 34, 45, 65, 86, 90]